@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Eric Meyer's CSS Reset v2.0 - http://meyerweb.com/eric/tools/css/reset/ 
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --fullwidth: 100%;
  --midwidth: 80%;

  /*COLORS*/

  --gray1: #e0e0e0;
  --black1: #1e1e1e;
  --teal: #daf7fb;
  --lemon: #e7f5de;
  --pink: #ebdef5;
}

/*GENERAL STYLES */
.copy {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.7rem;
}

.success-message {
  color: green;
  margin: 20px;
}

/*SIGNUP PAGE STYLES*/

.section__wrapper {
  display: flex;
  width: var(--fullwidth);
  height: 135vh;
  overflow: hidden;
}

.left {
  background-image: url("../public/assets/signupBg.jpg");
  background-color: black;
  background-size: cover;
  width: 50%;
  height: 135vh;
}

.right {
  margin-top: 4rem;
  width: 50%;
}

.right__content {
  width: 80%;
  padding: 0 3rem;
  margin-inline: auto;
  height: 140vh;
}

.signup__top {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.signup__title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
}

.signup__top p {
  font-size: 0.9rem;
  font-weight: 500;
}

.signup__bottom {
  width: 100%;
  margin-top: 1rem;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0.5rem;
}
/*
input {
  width: 90%;
  padding: 0.7rem;
  background-color: var(--gray1);
  border: none;
  outline: none;
}
  */

.bank {
  width: 100%;
}
select {
  width: 100%;
  max-width: 100% !important;
  padding: 0.7rem;
  background-color: #e0e0e0;
  outline: none;
  border: none;
}

/*
input::placeholder,
select {
  font-size: 0.8rem;
  color: #585858 !important;
  text-transform: capitalize;
  font-weight: bold;
}
  */

.button {
  background-color: #333;
  width: 100%;
  padding: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  border: none;
}

.signin {
  text-align: center;
}

.sign {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/*MEDIA QUERIES FOR TABLETS*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__wrapper {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: var(--fullwidth);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .right {
    width: var(--fullwidth);
  }
}

/*Media Queries for Mobile Devices SINGUP PAGE*/

@media screen and (max-width: 767px) {
  .section__wrapper {
    width: var(--fullwidth);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .left {
    width: var(--fullwidth);
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .right {
    display: flex;
    width: 100% !important;
    justify-content: center;
  }

  .right__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signup__top {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .signup__title {
    font-size: 1.9rem;
    font-weight: bold;
    color: #333;
  }

  .signup__top p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .signup__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }

  input {
    width: 100%;
    padding: 1rem;
    background-color: var(--gray1);
    border: none;
    outline: none;
  }

  select {
    width: 100% !important;
    padding: 1rem;
    background-color: #e0e0e0;
    outline: none;
    border: none;
  }

  input::placeholder,
  select {
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
  }

  .button {
    background-color: #333;
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 1.2rem;
    border: none;
  }

  .signin {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 3rem;
  }

  .sign {
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
}
